.home-bg-primary {
  /* background-color: #e4fafa;
  background-image: linear-gradient(
    135deg,
    #e4fafa 0%,
    #f1dcdc 22%,
    #f1dcdc 59%,
    #fdfdfd 93%
  ); */

  /* background-color: #e4fafa;
  background-image: linear-gradient(
    157deg,
    #e4fafa 0%,
    #f1dcdc 36%,
    #f1dcdc 57%,
    #ffffff 88%
  ); */

  background-color: #e4fafa;
  background-image: linear-gradient(
    166deg,
    #e4fafa 0%,
    #f1dcdc 37%,
    #f1dcdc 60%,
    #ffffff 91%
  );
}
.btn-bg-primary {
  background-color: #ec8274;
  background-image: linear-gradient(135deg, #ec8274 53%, #e05cc5 100%);
}

.text-bg {
  background-color: #e97670;
  background-image: linear-gradient(145deg, #e97670 0%, #e05ac5 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.header-bg {
  background-color: #f0fdff;
  background-image: linear-gradient(
    90deg,
    #f0fdff 0%,
    #fdeff7 54%,
    #f0fdff 100%
  );
  backdrop-filter: blur(10px);
}

/* 自定义 CSS */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield; /* 适配 Firefox */
}
